@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden;
}

:root {
  font-family: "Inter", sans-serif;
  color: hsl(240, 100%, 5%);
}

a,
p {
  color: hsl(236, 13%, 42%);
}
